#items
{
	list-style: none;
	margin: 0px;
	margin-top:4px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:3px;
	font-size: 17px;
	color: whitew;
}

hr
{
	width: 85%;
	background-color: #E4E4E4;
	color: #E4E4E4;
}

#cntnr
{	
	position: fixed;
	width: 150px;
	background-color: black;
	box-shadow: 3px 3px 2px #050505;
	border-radius: 4px;
	display: none;
}

#cntnr.active
{
	display: block;
}

#cntr #items
{
	padding: 3px;
	padding-left: 10px;
	cursor: pointer;
}

#items :hover
{
	color: white;
	background-color: #284570;
	border-radius: 2px;
}